doctype html
head
  title Alsuti Error
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  -if(e.message != null)
    h1#title #{e.status}: #{e.message}
  -else
    h1#title= e.status
  pre#textContainer= e.stack
