doctype html
html
  head
    title Invite Codes
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    include globalBar
    center
      div#header
        -if(quota > 0)
          -if(session.admin == false)
            span You have #{quota != 1 ? (quota + " invites") : (quota + " invite")} left.
          form(method='post' action='/invites/create')
            input(type='submit' value="Create Invite Code")
        -else
          span Your invite quota has been reached.
      -if(invites.length == 0)
        span You don't have any invite codes.
      -else
        table#listing(style="width:300px;")
          each code,i in invites
            tr
              td.expand
                a(href='/register/#{code}')= code
              td
                a(href='/invites/delete/#{code}')
                  img(src='/delete.png' height='16px')
