doctype html
head
  title Login
  link(rel='stylesheet' href='/stylesheets/style.css')
  center
    -if(title)
      h1#title= title
    -if(error)
      p#loginMessage(class='error')= error
    -else
      p#loginMessage= message
    form#loginForm(method='post' action='/login')
      input(name='user' placeholder='User')#userEntry
      input(type='password' name='password' placeholder='Password')#passwordEntry
      input(type='hidden' name='returnPath' value='#{returnPath}')
      button(type='submit') Log In
