doctype html
head
  title Login
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
  center
    h1#title Log In
    -if(error)
      p#loginMessage.error= error
    -else
      p#loginMessage= message
    form#loginForm.vpad(method='post' action='/login')
      input(name='user' placeholder='User Name')#userEntry
      input(type='password' name='password' placeholder='Password')#passwordEntry
      input(type='hidden' name='returnPath' value='#{returnPath}')
      div.hpad
        label
          input(type='checkbox' name='noExpiry')
          | Stay logged in
        input(type='submit' value="Log In")
