doctype html
head
  title Paste
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  include globalBar
  h1#title Paste
  form#pasteForm(method='post' action='/upload' enctype='multipart/form-data')
    textarea#title(type='text' name='title' placeholder='Title' rows=1 autofocus)
    textarea#description(form='pasteForm' name='description' placeholder='Description')
    select(form='pasteForm' name='extension')
      option(label='Text') txt
      option(label='Markdown') md
      option(label='HTML') html
      option(label='Shell Script') sh
      option(label='C') c
      option(label='C++') cpp
      option(label='Javascript') js
      option(label='Python') py
      option(label='Ruby') rb
      option(label='Rust') rs
      option(label='Perl') pl
      option(label='Java') java
      option(label='Groovy') groovy
    span.hpad
      label
        input(type='checkbox' name='public' value='yes').vcenter
        | Public
    textarea#content(form='pasteForm' name='content' placeholder="Content")
    input(type='submit' value='Paste')
