doctype html
head
  title Rehost
  meta(name='viewport' content="width=device-width, initial-scale=1")
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  include globalBar
  h1#title Rehost
  form#rehost.vpad(method='post' action='/upload')
    input#url(type='text' name='url' placeholder="URL" autofocus)
    input#title(type='text' name='title' placeholder="Title")
    textarea#description(form='rehost' name='description' placeholder="Description")
    span.hpad
      label
        input(type='checkbox' name='public' value='yes')
        | Public
      button#rehost(type='submit') Rehost
