doctype html
html
  head
    title Alsuti Settings
    meta(name='viewport' content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    include globalBar
    div#header
      h1#title Settings
    h2#section Password
    form(method='post' action='/password/set').vpad
      input#password(type='password' name='password' placeholder="Current Password")
      input#newPassword(type='password' name='newPassword' placeholder="New Password" autocomplete='new-password')
      input#confirmNewPassword(type='password' name='confirmNewPassword' placeholder="Confirm New Password")
      button(type='submit') Save
    -if(state == 1)
      p#description.red Incorrect password.
    -else if(state == 2)
      p#description.red Confirmation password does not match.
    h2#section Invite Codes
    div.vpad
      -if(quota > 0)
        -if(session.admin == false)
          p Quota: 
            span.red #{quota}
      -else
        p.red Your invite quota has been reached.
      -if(invites.length == 0)
        p.pink No pending invites.
      -else
        table#listing(style="width:150px;" cellpadding='5px' cellspacing='0')
          each code,i in invites
            tr
              td.expand
                a(href='/register/#{code}')= code
              td
                a(href='/invite/delete/#{code}')
                  img(src='/delete.png' height='18px')
      -if(quota > 0)
        form(method='post' action='/invite/new')
          button(type='submit') New
