doctype html
head
  title Upload
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  div#globalBar
    span.childPad
      -if(session.validate())
        a.listingLink(href='/private') Private
        span.divider
      a.listingLink(href='/public') Public
      span.floatRight
        -if(session.validate())
          a(href='/logout') Log Out
        -else
          a(href='/login') Log In
  center#upload
    div#fileUpload
      h1#title Upload
      form#fileForm(method='post' action='/upload' enctype='multipart/form-data')
        input(type='file' name='fileupload')
        input(type='text' name='title' placeholder='Title')
        input(type='text' name='description' placeholder='Description')
        label
          input(type='checkbox' name='public' value='yes')
          | Public
        input(type='submit' value='Upload')
    div#pasteUpload
      h1#title Paste
      form#pasteForm(method='post' action='/upload' enctype='multipart/form-data')
        input(type='text' name='title' placeholder='Title')
        input(type='text' name='description' placeholder='Description')
        textarea#r(form='pasteForm' name='content')
        input(type='hidden', name='extension', value='txt')
        label
          input(type='checkbox' name='public' value='yes')
          | Public
        input(type='submit' value='Paste')
    div#rehostUpload
      h1#title Rehost
      form#rehostForm(method='post' action='/upload')
        input(type='text' name='url' placeholder='URL')
        input(type='text' name='title' placeholder='Title')
        input(type='text' name='description' placeholder='Description')
        label
          input(type='checkbox' name='public' value='yes')
          | Public
        input(type='submit' value='Rehost')
