doctype html
head
  title Upload
  meta(name='viewport' content="width=device-width, initial-scale=1")
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  include globalBar
  div#fileUpload
    h1#title Upload
    form#upload.vpad(method='post' action='/upload' enctype='multipart/form-data')
      input#file(type='file' name='fileupload')
      input#title(type='text' name='title' placeholder='Title')
      textarea#description(form='upload' name='description' placeholder='Description')
      span.hpad
        label
          input(type='checkbox' name='public' value='yes')
          | Public
        button#upload(type='submit') Upload
