doctype html
head
  title Upload
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  include globalBar
  div#fileUpload
    h1#title Upload
    form#fileForm.vpad(method='post' action='/upload' enctype='multipart/form-data')
      input(type='file' name='fileupload')
      textarea#title(type='text' name='title' placeholder='Title' rows=1)
      textarea#description(form='pasteForm' name='description' placeholder='Description')
      span.hpad
        label
          input(type='checkbox' name='public' value='yes')
          | Public
        input(type='submit' value='Upload')
