body {
  font-family: "Lucida Grande", Helvetica;
  font-size: 14px;
  margin: 0px;
  min-width: 320px;
  padding: 10px;
}

/* common */
a {
  color: #3689B3;
}
a.encrypted,
a.uploadLink {
  color: #B336B3;
}
a.listingLink {
  color: #75B336;
}
.error,
a.warnLink {
  color: #B33636;
}

.childPad > * {
  margin-right: 5px;
}
.childPad > *:last-child {
  margin-right: 0px;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
span.divider:after {
  color: #808080;
  content: '|';
}

form > * {
  margin: 10px;
}

/* significant stuff */
#globalBar {
  display: block;
  overflow: auto;
  margin-bottom: 15px;
}
#header {
  overflow: auto;
  margin-bottom: 10px;
}
#title {
  display: block;
  font-size: 150%;
  font-weight: bold;
  margin: 0px;
}
#description {
  display: block;
}
#info {
  color: #808080;
  font-size: 90%;
}
#optionBar {
  background-color: #F0F0F0;
  border: 1px solid #CCC;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 5px;
}

/* header margins */
#header * {
  margin-bottom: 5px;
}
#header *:last-child {
  margin-bottom: 0px;
}

/* v-center inputs in option bar */
#optionBar input {
  vertical-align: middle;
}
#optionBar input#lineNumbersCheckbox {
  margin: 0px;
}
#optionBar label#lineNumbersLabel {
  padding-left: 5px;
}

/* decryption */
#decryption {
  display: inline-block;
}
#decryption > * {
  margin-right: 5px;
}
#decryption > *:last-child {
  margin-right: 0px;
}

/* login/register/delete/edit pages */
#actionMessage {
  margin: 10px;
  padding: 0px;
}
form#editForm,
form#deleteForm {
  margin: 10px;
}
#loginForm > *,
#registerForm > *,
form#editForm > * {
  display: block;
}
form#editForm input[type=text] {
  width: 60%;
}

/* upload forms */
#upload {
  border-radius: 5px;
  margin: 0 auto;
}

#fileUpload,
#pasteUpload,
#rehostUpload
{
  display: block;
  padding: 5px 10px;
}

form#fileForm input[type=file],
form#fileForm input[type=text],
form#pasteForm input[type=text],
form#pasteForm textarea,
form#rehostForm input[type=text]
{
  display: block;
  width: 95%;
}

#fileUpload {
  background-color: #FFDDCC;
}
#pasteUpload {
  background-color: #CCE6FF;
}
#rehostUpload {
  background-color: #D5FFCC;
}

#pasteUpload textarea {
  resize: vertical;
  min-height: 100px;
}

/* listing table */
div#listingCountContainer {
  display: block;
}
table#uploadListing {
  display: block;
}
table#uploadListing tr:nth-child(odd) {
  background-color: #F8F8F8;
}
table#uploadListing tr:nth-child(even) {
  background-color: #E8E8E8;
}
table#uploadListing tr td:first-child {
  color: #808080;
}
table#uploadListing tr td.expand {
  width: 100%;
}
table#uploadListing tr td:not(.expand) {
  text-align: right;
  white-space: pre;
}

/* listing page bar */
#pageBar {
  margin: 10px 5px;
  overflow: auto;
}
.hidden {
  visibility: hidden;
}

/* content */
#textContainer {
  background-color: #F0F0F0;
  border: 1px solid #CCC;
  clear: both;
}
code.hljs-line-numbers {
  border-right: 1px solid #CCC;
  color: #888;
  padding: 5px 7.5px;
}
code {
  background-color: #F0F0F0;
  display: block;
  font-family: Consolas,
               Monaco,
               Lucida Console,
               Liberation Mono,
               Droid Sans Mono,
               DejaVu Sans Mono,
               Bitstream Vera Sans Mono,
               Courier New;
  line-height: 100%;
  padding: 5px;
  overflow-x: auto;
}
img#content {
  max-width: 100%;
}
