body {
  font-family: "Lucida Grande", Helvetica;
  font-size: 14px;
  margin: 0px;
  padding: 10px;
}

/* common */
a {
  color: #3689B3;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
a.switch {
  text-decoration: none;
  border-bottom: 1px dashed;
}
a.switch.enabled {
  border-bottom: 1px double;
}
p {
  margin: 0px;
  padding: 0px;
}
span.divider:after {
  color: #808080;
  content: '|';
}
.bold {
  font-weight: bold;
}
.underlined {
  text-decoration: underline;
}
.pink {
  color: #B336B3;
}
.green {
  color: #75B336;
}
.red {
  color: #B33636;
}
.hpad > * {
  margin-right: 5px;
}
.hpad > *:last-child {
  margin-right: 0px;
}
.vpad > * {
  margin-bottom: 5px;
}
.vpad > *:last-child {
  margin-bottom: 0px;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.hidden {
  display: none;
}

/* common input */
form {
  margin: 10px 0px 10px;
}
form#edit,
form#delete {
  margin: 10px;
}
form > input[type=text],
form > input[type=password],
form > textarea {
  box-sizing: border-box;
  display: block;
}
form > input#url,
form > input#title,
form > textarea#description {
  min-width: 250px;
  width: 25%;
  resize: none;
}
form > textarea#content {
  width: 100%;
  min-width: 300px;
  min-height: 200px;
  resize: vertical;
}
form > span {
  width: 100%;
  resize: none;
}
label {
  user-select: none;
}

/* global bar */
#globalBar {
  display: block;
  margin-bottom: 10px;
}

/* upload menu */
#alsuti:after {
  content: "☰ Alsuti";
  cursor: pointer;
  font-weight: bold;
}
#alsuti.noMenu:after {
  content: "Alsuti";
}
.menu {
  display: inline-block;
  position: relative;
}
.menuWrapper {
  cursor: pointer;
  display: none;
  position: absolute;
}
.menuContent {
  background-color: #202020;
  min-width: 80px;
}
.menu:hover .menuWrapper {
  display: block;
  left: -25px;
  padding: 10px 25px 25px 25px;
}
.menuContent > a {
  color: #F4F4F4;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: all 0.08s ease-in;
}
.menuContent a:hover {
  background-color: #444;
}

/* header */
#header {
  margin-bottom: 10px;
}
#header > * {
  margin-bottom: 10px;
}
#header > *:last-child {
  margin-bottom: 0px;
}
h1#title {
  display: block;
  font-size: 150%;
  margin: 0px;
}
#description {
  display: block;
}
#uploadInfo {
  color: #606060;
  font-size: 90%;
  margin-top: 5px;
}

/* tools */
#tools {
  margin-bottom: 10px;
  overflow: auto;
  user-select: none;
}
#tools > * {
  vertical-align: middle;
}
#copyNotify {
  position: relative;
}
#copyNotifyText {
  display: none;
  position: absolute;
}
#copyNotifyText:after {
  content: "Copied!"
}

/* for settings page */
h2#section {
  font-size: 115%;
}

/* for info/delete page */
#info {
  margin: 10px;
}

/* content */
#sizeNotice,
#binaryNotice {
  background-color: #F2F2F2;
  color: #808080;
}
#decryption {
  background-color: #E6DBCF;
  color: #000;
  transition: all 0.25s ease-in;
}
#decryption.error {
  background-color: #E6B8B8;
  border-color: #808080;
}
#decryption.notify {
  background-color: #B8C7E6;
  border-color: #808080;
}
#sizeNotice,
#binaryNotice,
#decryption {
  border: 1px solid #CCC;
  border-radius: 2.5px;
  padding: 20px;
  text-align: center;
}
#sizeNotice,
#binaryNotice,
#decryptionStatus {
  font-family: monospace;
  font-size: 125%;
  font-weight: bold;
}
#decryptionTools {
  margin-top: 10px;
}
#decryptionStatus,
#code#textContent {
  font-family: Consolas,
               Monaco,
               Lucida Console,
               Liberation Mono,
               Droid Sans Mono,
               DejaVu Sans Mono,
               Bitstream Vera Sans Mono,
               Courier New;
  white-space: pre;
}
#textContainer {
  border: 1px solid #CCC;
  background-color: #E6E6E6;
  clear: both;
}
img#content {
  max-width: 80%;
}
audio#content,
video#content
{
  width: 50%;
}
code.hljs-line-numbers {
  border: 0px;
  background-color: #E6E6E6;
  color: #808080;
  padding: 5px 7.5px;
  display: inline-block;
}
code {
  border-left: 0px solid #CCC;
  background-color: #F2F2F2;
  display: block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 5px;
  overflow-x: auto;
}

/* listings */
table#listing {
  border: 1px solid #C8C8C8;
}
table#listing tr:nth-child(odd) {
  background-color: #F8F8F8;
}
table#listing tr:nth-child(even) {
  background-color: #ECECEC;
}
table#listing tr td.expand {
  width: 100%;
}
table#listing tr td:not(.expand) {
  white-space: pre;
}
table#listing tr td.alignRight {
  text-align: right;
}

/* invite listings dont use this */
#pageBar {
  margin: 10px 5px;
  overflow: auto;
}
