body {
  font: 15px "Lucida Grande", Helvetica;
  margin: 10px;
}

/* significant stuff */
#globalBar {
  margin-bottom: 10px;
}
#title {
  font-weight: bold;
}
p#description {
  display: inline-block;
  background-color: #E0C0A0; /* faded orange */
  border-radius: 2.5px;
  margin: 0px 0px 10px;
  padding: 5px;
}
#optionBar {
  background-color: #F0F0F0;
  border: 1px solid #CCC;
  clear: both;
  line-height: 25px;
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px;
}

/* common */
a {
  color: #00A0E0;
}
a.listingLink {
  color: #20C020;
}
a.warnLink {
  color: #E00000;
}
a.pageLink {
  color: #E020C0;
}
span.divider:after {
  color: #808080;
  content: '│';
}
.floatRight {
  clear: left;
  display: inline;
  float: right;
}

/* dynamic padding */
.childPad > * {
  display: inline-block;
  margin-right: 10px;
}
.childPad > *:last-child {
  margin-right: 0px;
}

/* login form */
#loginForm > * {
  display: block;
  margin: 10px;
}
#loginMessage {
  color: #FF2020;
}

/* edit form */
form#editForm,
form#deleteForm {
  margin: 15px;
}
form#editForm > * {
  display: block;
  margin: 5px;
}
form#editForm input[type=text] {
  width: 250px;
}

/* upload */
.uploadInput {
  display: block;
  margin: 5px;
}
.uploadOption {
  color: #000;
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 15px;
}
.uploadOption.selected {
  background-color: #888;
  color: #FFF;
}
#textInput {
  width: 50%;
  min-height: 200px;
}

/* listings */
td.encrypted img {
  vertical-align: top;
  height: 17px;
}
div#listingCountContainer {
  display: inline-block;
}
table#uploadListing tr:nth-child(odd) {
  background-color: #F8F8F8;
}
table#uploadListing tr:nth-child(even) {
  background-color: #E8E8E8;
}
table#uploadListing tr td.expand {
  width: 100%;
}
table#uploadListing tr td:not(.expand) {
  white-space: nowrap;
  text-align: right;
}
#listingBar {
  margin: 10px;
  text-align: center;
}
#listingBarLeft {
  display: inline-block;
  float: left;
  text-align: left;
  width: 50px;
}
#listingBarRight {
  display: inline-block;
  float: right;
  text-align: right;
  width: 50px;
}
.hidden {
  visibility: hidden;
}

/* decryption */
#decryption {
  display: inline-block;
}
#decryption > * {
  margin-right: 5px;
}
#decryption > *:last-child {
  margin-right: 0px;
}

/* content */
#textContainer {
  border: 1px solid #CCC;
}
code.hljs-line-numbers {
  border-right: 1px solid #CCC;
  color: #888;
}
code {
  background-color: #F0F0F0;
  display: block;
  font-family: Consolas,
               Monaco,
               Lucida Console,
               Liberation Mono,
               Droid Sans Mono,
               DejaVu Sans Mono,
               Bitstream Vera Sans Mono,
               Courier New;
  line-height: 100%;
  padding: 5px 10px;
  overflow-x: auto;
}
img#content {
  margin: 5px 0px;
  max-width: 75%;
}
